<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stoichulator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/stoichulator_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/stoichulator_launcher_round"
        android:theme="@style/Theme.Stoichulator">

        <activity
            android:theme="@style/Theme.Stoichulator"
            android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"/>
        <activity android:name=".Calculator"/>
        <activity android:name=".PeriodicTable" />
        <activity android:name=".SampleProblems"/>
        <activity android:name=".Element" />
        <activity android:name=".Stoichulator"/>
        <activity android:name=".Stoichiometry"/>
        <activity android:name=".Problem"/>
        <activity android:name=".Problem2"/>
        <activity android:name=".Problem3"/>
        <activity android:name=".Problem4"/>
        <activity android:name=".Exercises"/>
        <activity android:name=".Atoms"/>
        <activity android:name=".Avogadro"/>
        <activity android:name=".Bleach"/>
        <activity android:name=".BondOrder"/>
        <activity android:name=".Concentration"/>
        <activity android:name=".Dilution"/>
        <activity android:name=".Formula"/>
        <activity android:name=".AtomCalc"/>
        <activity android:name=".Molality"/>
        <activity android:name=".Mole"/>
        <activity android:name=".MoleFraction"/>
        <activity android:name=".Neutralization"/>
        <activity android:name=".PercentYield"/>

    </application>

</manifest>